<section class='features' id='f-1'>
  <div class='ui computer reversed stackable middle aligned grid container'>
    <div class="eight wide column">
      <%= image_tag('collaborate.svg', class: 'ui large image', id: 'collab')%>
    </div>
    <div class="eight wide column">
      <div class='desc'>
        <h2 class='header'>Ultimate team collaboration</h2>
        <p>
          Seam’s all-inclusive platform is essentially a canvas for real-time communication and collaboration.
          Watch your team’s workflow reinvent itself with dynamic living docs, focused project tracking, and seamless team communication.
        </p><br>
        <button class="ui button" id='cta-btn'>
          Create Free Account
        </button>
      </div>
    </div>
  </div>
</section>
<section class='features' id='gray-bg'>
  <div class='ui stackable middle aligned grid container' id='padded'>
    <div class="eight wide column">
      <%= image_tag('never-miss-a-beat.svg', class: 'ui large image')%>
    </div>
    <div class="eight wide column">
      <div class='desc'>
        <h2 class='header'>Never miss a beat, ever.</h2>
        <p>
          Seam is multi-platform! You can use it on a PC or Mac, Android or iPhone.
          In fact, you don’t even need an internet connection as you can work offline.
          Your files and team conversations are stored securely in the cloud,
          accessible from any device you log in from.
        </p><br>
        <button class="ui button" id='cta-btn'>
          Create Free Account
        </button>
      </div>
    </div>
  </div>
</section>
<section class='features'>
  <div class='ui computer reversed stackable middle aligned grid container' id='padded'>
    <div class="eight wide column">
      <%= image_tag('efficiency.svg', class: 'ui large image')%>
    </div>
    <div class="eight wide column">
      <div class='desc'>
        <h2 class='header'>Efficiency, on a<br>whole ‘nother level</h2>
        <p>
          Faster results, fewer errors. Seam notifies teams when tasks are done so you can move on to the next.
          Need to prioritize a hot item? Just drag and drop, it’s that easy.
        </p><br>
        <button class="ui button" id='cta-btn'>
          Create Free Account
        </button>
      </div>
    </div>
  </div>
</section>
<section class='features' id='gray-bg'>
  <div class='ui stackable middle aligned grid container' id='padded'>
    <div class="eight wide column">
      <%= image_tag('gamification.svg', class: 'ui large image')%>
    </div>
    <div class="eight wide column">
      <div class='desc'>
        <h2 class='header'>Harness the power of play</h2>
        <p>
          Seam’s revolutionary gamified experience aims to make work something of the past.
          Our integrated game elements leverage our love for competition and rewards,
          and is used to encourage almost every action as long as teams live and breathe on Seam.
          When work becomes a game, companies win.
        </p><br>
        <button class="ui button" id='cta-btn'>
          Create Free Account
        </button>
      </div>
    </div>
  </div>
</section>
<%= render 'pages/cta' %>
