<div class='ui container'>
  <section id='f-1'>
    <h1 class='ui center aligned header'>Features for ultimate team collaboration</h1>
  </section>
  <section id='f-2'>
    <h1 class='ui center aligned header'>How Seam helps to elevate teams</h1>
    <%= image_tag('http://ehouses.pl/wp-content/uploads/2015/04/placeholder-600x400.png', class: 'ui centered image')%>
    <div class='ui stackable three column grid'>
      <div class='column'>
        <h2>Open platform</h2>
        <p>Easily add anyone to Seam’s living documents and conversations with their email address. Seam also generates unique URLs for all files, so all you have to do to click to join!</p>
      </div>
      <div class='column'>
        <h2>Teams and projects</h2>
        <p>Create team conversations and documents with participants from within and across organizations with ease.</p>
      </div>
      <div class='column'>
        <h2>Living documents</h2>
        <p>Bring your documents to life by editing together in real-time, chatting within documents and spreadsheets, and starting an audio-video call with the click of a button. Seam makes it easy to discuss, revise, and reach final decisions right alongside your work, together with your team.</p>
      </div>
    </div>
  </section>
  <div class='ui container'>
    <section id='f-3'>
      <!-- <div class='ui container'> -->
        <div class='ui stackable grid container'>
          <div class="ui items">
            <div class="item">
              <%= image_tag('1.svg', class: 'ui medium image', id: 'push')%>
              <div class="middle aligned content">
                <h2 class='header'>Ultimate team collaboration</h2>
                <div class="description">
                  <p>
                    Seam’s all-inclusive platform is essentially a canvas for real-time communication and collaboration.
                    Watch your team’s workflow reinvent itself with dynamic living docs, focused project tracking, and seamless team communication.
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="middle aligned content" id='padded'>
                <h2 class='header'>Efficiency, on a whole ‘nother level</h2>
                <div class="description">
                  <p>
                    Faster results, fewer errors. Seam notifies teams when tasks are done so you can move on to the next.
                    Need to prioritize a hot item? Just drag and drop, it’s that easy.
                  </p>
                </div>
              </div>
              <%= image_tag('2.svg', class: 'ui right floated medium image')%>
            </div>
            <div class="item">
              <%= image_tag('5.svg', class: 'ui medium image', id: 'push')%>
              <div class="middle aligned content">
                <h2 class='header'>Harness the power of play</h2>
                <div class="description">
                  <p>
                    Seam’s revolutionary gamified experience aims to make work something of the past.
                    Our integrated game elements leverage our love for competition and rewards,
                    and is used to encourage almost every action as long as teams live and breathe on Seam.
                    When work becomes a game, companies win.
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="middle aligned content" id='padded'>
                <h2 class='header'>Never miss a beat, ever.</h2>
                <div class="description">
                  <p>
                    Seam is multi-platform! You can use it on a PC or Mac, Android or iPhone.
                    In fact, you don’t even need an internet connection as you can work offline.
                    Your files and team conversations are stored securely in the cloud, accessible from any device you log in from.
                  </p>
                </div>
              </div>
              <%= image_tag('4.svg', class: 'ui medium image')%>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </section>
  </div>
  <section id='f-4'>
    <h1 class='ui center aligned header'>In the heart of Seam</h1>
    <div class='ui stackable grid'>
      <div class='computer only eight wide column'>
        <%= image_tag('http://sinfulsalt.com/wordpress/wp-content/uploads/2012/07/placeholder-470x352.jpg', class: 'ui image', id: 'toggle-img') %>
      </div>
      <div class='eight wide column'>
        <div class="toggle ui segment active" id='doc'>
          <h3>Documents</h3>
          <p>Create, delegate, and mark project due dates with Seam’s always accessible file creation panel. Stay in the know by seeing what’s being added or removed.</p>
        </div>
        <div class="toggle ui segment" id='dashboard'>
          <h3>Dashboard</h3>
          <p>Have full transparency to all open tasks, projects in review, and what’s recently completed across all team members. Need to prioritize a hot item? Just drag and drop, it’s that easy.</p>
        </div>
        <div class="toggle ui segment" id='keep-records'>
          <h3>Keep records</h3>
          <p>On Seam, we make it easy to search all conversation history. Happen to miss a conference call? Don’t fret! Record an audio or video call to be reviewed at your own accord.</p>
        </div>
      </div>
    </div>
  </section>
  <section id='f-5'>
    <div class='ui stackable grid'>
      <div class='eight wide column'>
        <%= image_tag('http://sinfulsalt.com/wordpress/wp-content/uploads/2012/07/placeholder-470x352.jpg', class: 'ui image') %>
      </div>
      <div class='eight wide column'>
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </section>
  <section id='f-6'>
    <div class='ui stackable grid'>
      <div class='eight wide column'>
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class='eight wide column'>
        <%= image_tag('http://sinfulsalt.com/wordpress/wp-content/uploads/2012/07/placeholder-470x352.jpg', class: 'ui image') %>
      </div>
    </div>
  </section>
  <section id='f-7'>
    <div class='ui center aligned grid'>
      <div class='sixteen wide column'>
        <h1>Lorem Ipsum</h1>
        <button class='ui icon large button'>
          <i class="mobile icon"></i> iOS
        </button>
        <button class='ui icon large button'>
          <i class="android icon"></i> Android
        </button>
        <%= image_tag('http://sinfulsalt.com/wordpress/wp-content/uploads/2012/07/placeholder-470x352.jpg', class: 'ui centered image') %>
      </div>
    </div>
  </section>
</div>
<%= render 'pages/cta' %>
