<section class='features' id='f-1'>
  <div class='ui computer reversed stackable middle aligned grid container'>
    <div class="eight wide column">
      <%= image_tag('collaboration.png', class: 'ui large image')%>
    </div>
    <div class="eight wide column">
      <div class='desc'>
        <h2 class='header'>Ultimate team collaboration</h2>
        <p>
          Seam is a platform that helps teams collaborate by unifying document editing,
          messaging and task management,<br>under a single roof.
        </p><br>
        <button class="ui button" id='cta-btn'>
          Create Free Account
        </button>
      </div>
    </div>
  </div>
</section>
<section class='features' id='gray-bg'>
  <div class='ui stackable middle aligned grid container' id='padded'>
    <div class="eight wide column">
      <%= image_tag('dashboard.png', class: 'ui large image')%>
    </div>
    <div class="eight wide column">
      <div class='desc'>
        <h2 class='header'>A bird's-eye view</h2>
        <p>
        Seam dashboard is a easy to read, and obtain account summary.<br>
        It is an overview of your system at a glance.
        </p><br>
        <button class="ui button" id='cta-btn'>
          Create Free Account
        </button>
      </div>
    </div>
  </div>
</section>
<section class='features'>
  <div class='ui computer reversed stackable middle aligned grid container' id='padded'>
    <div class="eight wide column">
      <%= image_tag('search.png', class: 'ui large image')%>
    </div>
    <div class="eight wide column">
      <div class='desc'>
        <h2 class='header'>Powerful search</h2>
        <p>
          All inclusive search field. From task, files,<br>
          and to messages one stop to find everything you need.
        </p><br>
        <button class="ui button" id='cta-btn'>
          Create Free Account
        </button>
      </div>
    </div>
  </div>
</section>
<!-- <section class='features' id='gray-bg'>
  <div class='ui stackable middle aligned grid container' id='padded'>
    <div class="eight wide column">
      <%= image_tag('collaboration.png', class: 'ui large image')%>
    </div>
    <div class="eight wide column">
      <div class='desc'>
        <h2 class='header'>All in one</h2>
        <p>
          Seam provides you with all the essentials you need<br>
          for the ultimate team collaboration.
        </p><br>
        <button class="ui button" id='cta-btn'>
          Create Free Account
        </button>
      </div>
    </div>
  </div>
</section> -->
<%= render 'pages/cta' %>
