<div class='ui container'>
  <section id='landing'>
    <div class='ui equal width stackable grid'>
      <div class='row'>
        <div class='column'>
          <h1 class='ui left aligned header'>
            Collaboration done<br>effortlessly.
             <div class="sub header">
               Seam is a platform that helps teams collaborate by unifying document editing,
               messaging and task management, under a single roof.
             </div>
          </h1>
          <div class="ui left aligned container" id='signup'>
            <button class="ui button" id="small-cta">
              Create Free Account
            </button><br>
            <div id='no-credit'>No credit card required</div>
          </div>
        </div>
        <div class='column'>
          <%= image_tag('sign-in.png', class: 'ui right floated large image')%>
        </div>
      </div>
    </div>
  </section>
</div>
<section id='intro-1'>
  <div class='ui stackable two column grid' id='block'>
    <div class='nine wide column'>
      <div class='ui container'>
        <%= image_tag('Google-Chrome-Flat-Browser.png', class: 'ui left floated image') %>
      </div>
    </div>
    <div class='seven wide column'>
      <div class='ui text container'>
        <h2 class='ui header'>Meet Seam</h2>
        <div class="ui one column stackable grid">
          <div class="column">
            <%= image_tag('doc.png', class: 'ui tiny image') %>
            <p>Bring your documents to life by<br>editing together in real-time</p>
          </div>
          <div class="column">
            <%= image_tag('game.png', class: 'ui tiny image') %>
            <p>Engage and motivate team<br>members by rewarding actions</p>
          </div>
          <div class="column">
            <%= image_tag('track.png', class: 'ui tiny image') %>
            <p>Track all open items, tasks in progress,<br>and recently completed projects</p>
          </div>
          <div class="column">
            <%= image_tag('comm.png', class: 'ui tiny image') %>
            <p>Send messages directly to a team<br>member or to a focused channel</p>
          </div>
          <%= link_to '/features' do %>
            <button class="ui large button" id='small-cta'>
              Find Out More
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'pages/cta' %>
