<div class='ui container'>
  <section id='landing'>
    <div class='ui stackable grid'>
      <div class='row'>
        <div class='column'>
          <h1 class='ui center aligned header'>
            Collaboration done effortlessly
          </h1>
          <p class="body-styles">
            Seam is a platform that helps teams collaborate by unifying document<br>
            editing, messaging and task management, under a single roof.
          </p>
          <div class="ui center aligned container" id='signup'>
            <button class="ui button" id="cta-btn">
              Create Free Account
            </button><br>
          </div>
          <%= image_tag('dashboard.png', class: 'ui center aligned image')%>
        </div>
      </div>
    </div>
  </section>
</div>
<section id='search'>
  <div class='ui stackable grid'>
    <%= image_tag('pink-shape.png', class:'ui left floated massive image', id: 'pink-shape') %>
    <div class='ui container'>
      <%= image_tag('search.png', class:'ui massive image', id: 's-screenshot') %>
      <div class='s-content'>
        <h1 class="ui header">
          <%= image_tag('search-icon.png', class:'ui huge image') %>
          <div class="content">
            Search
          </div>
        </h1>
        <p class='body-styles'>
          System-wide search, simplified.<br>
          Search for tasks, files, all the way to messages.<br>
          We're your one stop to find everything you need.
        </p>
        <button class="ui button" id="cta-btn">
          Create Free Account
        </button>
      </div>
    </div>
  </div>
</section>
<div class='ui container'>
  <section id='messenger'>
    <div class='m-content'>
      <h1 class="ui header">
        <%= image_tag('messenger-icon.png', class:'ui huge image') %>
        <div class="content">
          Messenger
        </div>
      </h1>
      <p class='body-styles'>
        Seam integrates real-time messaging<br>
        into our collaborative living docs,<br>
        making project discussions and business<br>
        decisions that much more seamless.
      </p>
      <button class="ui button" id="cta-btn">
        Create Free Account
      </button>
    </div>
    <%= image_tag('messenger.png', class:'ui massive image', id: 'm-screenshot') %>
  </section>
</div>
<section id='drive'>
  <div class='ui mobile reversed stackable grid'>
    <%= image_tag('green-shape.png', class:'ui left floated massive image', id: 'green-shape') %>
    <div class='ui container'>
      <%= image_tag('drive.png', class:'ui massive image', id: 'd-screenshot') %>
      <div class='d-content'>
        <h1 class="ui header">
          <%= image_tag('drive-icon.png', class:'ui huge image') %>
          <div class="content">
            Drive
          </div>
        </h1>
        <p class='body-styles'>
          Conveniently create, access and share files.<br>
          Working together has never been easier.
        </p>
        <button class="ui button" id="cta-btn">
          Create Free Account
        </button>
      </div>
    </div>
  </div>
</section>
<div class='ui container' id='shrink-me'>
  <section id='to-do'>
    <div class='t-content'>
      <h1 class="ui header">
        <%= image_tag('to-do-icon.png', class:'ui huge image') %>
        <div class="content">
          To do list
        </div>
      </h1>
      <p class='body-styles'>
        Our task board allows teams to break<br>
        a large idea into actionable sub-tasks<br>
        which are then assigned to team<br>
        members individually. It's time to kiss<br>
        goodbye to guessing who's doing what.
      </p>
      <button class="ui button" id="cta-btn">
        Create Free Account
      </button>
    </div>
    <%= image_tag('to-do.png', class:'ui massive image', id: 't-screenshot') %>
  </section>
</div>
<%= render 'pages/cta' %>
