<div class='ui container'>
  <section id='landing'>
    <div class='ui stackable grid'>
      <div class='row'>
        <div class='column'>
          <h1 class='ui center aligned header'>
            Collaboration done effortlessly
          </h1>
          <p class="body-styles">
            Seam is a platform that helps teams collaborate by unifying document<br>
            editing, messaging and task management, under a single roof.
          </p>
          <div class="ui center aligned container" id='signup'>
            <button class="ui button" id="cta-btn">
              Create Free Account
            </button><br>
          </div>
          <%= image_tag('dashboard.png', class: 'ui center aligned image')%>
        </div>
      </div>
    </div>
  </section>
</div>
<section id='search'>
  <div class='ui stackable grid'>
    <%= image_tag('pink-shape.png', class:'ui left floated massive image', id: 'pink-shape') %>
    <%= image_tag('search.png', class:'ui massive image', id: 's-screenshot') %>
    <div class='s-content'>
      <h1 class="ui header">
        <%= image_tag('search-icon.png', class:'ui huge image') %>
        <div class="content">
          Search
        </div>
      </h1>
      <p class='body-styles'>
        All inclusive search field. Search from<br>
        task, files, and to messages. One stop<br>
        to find everything you need.
      </p>
      <button class="ui button" id="cta-btn">
        Create Free Account
      </button>
    </div>
  </div>
</section>
<div class='ui container'>
  <section id='messenger'>
    <div class='m-content'>
      <h1 class="ui header">
        <%= image_tag('messenger-icon.png', class:'ui huge image') %>
        <div class="content">
          Messenger
        </div>
      </h1>
      <p class='body-styles'>
        Seam integrate chat into collarborative doc<br>
        keeping all components cohesive. Keeps<br>
        business requirements, project notes,<br>
        and creative copy where they should be.
      </p>
      <button class="ui button" id="cta-btn">
        Create Free Account
      </button>
    </div>
    <%= image_tag('messenger.png', class:'ui massive image', id: 'm-screenshot') %>
  </section>
</div>
<section id='drive'>
  <div class='ui stackable grid'>
    <%= image_tag('green-shape.png', class:'ui left floated massive image', id: 'green-shape') %>
    <%= image_tag('drive.png', class:'ui massive image', id: 'd-screenshot') %>
    <div class='d-content'>
      <h1 class="ui header">
        <%= image_tag('drive-icon.png', class:'ui huge image') %>
        <div class="content">
          Drive
        </div>
      </h1>
      <p class='body-styles'>
        Convenient file sharing. Upload, share,<br>
        and discuss to get work done faster<br>
        and more organized.
      </p>
      <button class="ui button" id="cta-btn">
        Create Free Account
      </button>
    </div>
  </div>
</section>
<div class='ui container' id='shrink-me'>
  <section id='to-do'>
    <div class='t-content'>
      <h1 class="ui header">
        <%= image_tag('to-do-icon.png', class:'ui huge image') %>
        <div class="content">
          To do list
        </div>
      </h1>
      <p class='body-styles'>
        Tasks allow you to break a large idea<br>
        into actionable subtasks which are then<br>
        assigned to team members individually.<br>
        No more guessing who's doing what.
      </p>
      <button class="ui button" id="cta-btn">
        Create Free Account
      </button>
    </div>
    <%= image_tag('to-do.png', class:'ui massive image', id: 't-screenshot') %>
  </section>
</div>
<%= render 'pages/cta' %>
