<%= render 'pages/landing' %>
<section id='intro-1'>
  <div class='ui stackable two column grid' id='block'>
    <div class='nine wide column'>
      <div class='ui center aligned container'>
        <%= image_tag('Google-Chrome-Flat-Browser.png', class: 'ui left floated image') %>
      </div>
    </div>
    <div class='seven wide column'>
      <div class='ui text container'>
        <h2 class='ui header'>Meet Seam</h2>
        <div class="ui one column stackable grid">
          <div class="column">
            <%= image_tag('doc.png', class: 'ui tiny image') %>
            <p>Bring your documents to life by<br>editing together in real-time</p>
          </div>
          <div class="column">
            <%= image_tag('game.png', class: 'ui tiny image') %>
            <p>Engage and motivate team<br>members by rewarding actions</p>
          </div>
          <div class="column">
            <%= image_tag('track.png', class: 'ui tiny image') %>
            <p>Track all open items, tasks in progress,<br>and recently completed projects</p>
          </div>
          <div class="column">
            <%= image_tag('comm.png', class: 'ui tiny image') %>
            <p>Send messages directly to a team<br>member or to a focused channel</p>
          </div>
          <%= link_to '/features' do %>
            <button class="ui large button">
              Find Out More
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'pages/cta' %>
