<div class='ui container'>
  <section id='landing'>
    <h1 class='ui center aligned header'>
      Collaborate together, collaborate seamlessly.
       <div class="sub header">
         Seam makes collaborating together productive, engaging and effortless.
       </div>
    </h1>
    <div class="ui center aligned container" id='signup'>
      <button class="ui button" id='cta-btn'>
        Create Free Account
      </button><br>
      Or Sign up with <a href='#'>Google</a> or <a href='#'>Facebook</a>
    </div>
  </section>
  <section id='intro-1'>
    <div class="ui stackable grid">
      <div class='seven wide column'>
        <h2>Meet Seam</h2>
        <p>
          People see productivity as having different platforms or applications coinciding simultaneously, but this delays productivity as well as time by switching between screens or applications.
          So is this really the solution to productivity? We believe that Seam can offer a versatile and intuitive collaborative space where team communication, project tracking,
          and document editing can be achieved in one all-inclusive platform. Seam allows users to just stay in one place and provides a more fun,
          immersive and seamless alternative to all the other collaboration tools on the market. We're all about maximizing business outcomes and motivating the team spirit.<br><br>
          Here at Seam, we understand that productivity isn't about having more tools. It's about having less tools, that do more. Collaborate together, collaborate seamlessly.
        </p>
      </div>
      <div class='nine wide column'>
        <%= image_tag('https://getuikit.com/v2/docs/images/placeholder_600x400.svg', class: 'ui image')%>
      </div>
    </div>
  </section>
  <section id='intro-2'>
    <div class='ui text container'>
      <div class='ui stackable grid'>
        <div class='six wide column'>
          <%= image_tag('https://cdn.tutsplus.com/net/uploads/legacy/958_placeholders/placehold.gif', class: 'ui image')%>
        </div>
        <div class='ten wide column'>
          <h2>Ultimate team collaboration</h2>
          <p>
            Seam’s all-inclusive platform is essentially a canvas for real-time communication and collaboration.
            Watch your team’s workflow reinvent itself with dynamic living docs, focused project tracking, and seamless team communication.
          </p>
        </div>
        <div class='ten wide column'>
          <h2>Efficiency, on a whole ‘nother level</h2>
          <p>
            Faster results, fewer errors. Seam notifies teams when tasks are done so you can move on to the next.
            Need to prioritize a hot item? Just drag and drop, it’s that easy.
          </p>
        </div>
        <div class='six wide column'>
          <%= image_tag('https://cdn.tutsplus.com/net/uploads/legacy/958_placeholders/placehold.gif', class: 'ui image')%>
        </div>
        <div class='six wide column'>
          <%= image_tag('https://cdn.tutsplus.com/net/uploads/legacy/958_placeholders/placehold.gif', class: 'ui image')%>
        </div>
        <div class='ten wide column'>
          <h2>Harness the power of play</h2>
          <p>
            Seam’s revolutionary gamified experience aims to make work something of the past.
            Our integrated game elements leverage our love for competition and rewards,
            and is used to encourage almost every action as long as teams live and breathe on Seam.
            When work becomes a game, companies win.
          </p>
        </div>
        <div class='ten wide column'>
          <h2>Never miss a beat, ever.</h2>
          <p>
            Seam is multi-platform! You can use it on a PC or Mac, Android or iPhone.
            In fact, you don’t even need an internet connection as you can work offline.
            Your files and team conversations are stored securely in the cloud, accessible from any device you log in from.
          </p>
        </div>
        <div class='six wide column'>
          <%= image_tag('https://cdn.tutsplus.com/net/uploads/legacy/958_placeholders/placehold.gif', class: 'ui image')%>
        </div>
        <div class='ui center aligned container'>
          <%= link_to '/features' do %>
            <button class="ui large button">
              Find Out More
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <%= render 'pages/cta' %>
</div>
