<div class='ui container'>
  <section id='p-1'>
    <div class='ui equal width stackable grid'>
      <div class='column'>
        <h1 class='ui center aligned header'>
          Pricing can’t get simpler than this
        </h1>
        <p class='body-styles'>
          Seam provides you with all the essentials you need for the ultimate team collaboration.
        </p>
      </div>
      <div class='row'>
        <div class='ui center aligned column'>
          <div class='ui raised segments'>
            <div class="ui very padded center aligned segment" id='top'>
              <h3 class='ui center aligned header'>Free Trial</h3>
              <p>for one month</p>
            </div>
            <div class='ui padded center aligned segment' id='bottom'>
              <div class="ui list">
                <div class="item">
                  <i class="checkmark icon"></i>
                  Seam file editing
                </div>
                <div class="item">
                  <i class="checkmark icon"></i>
                  Individual/Group messaging
                </div>
                <div class="item">
                  <i class="checkmark icon"></i>
                  Individual/Group calling
                </div>
                <div class="item">
                  <i class="checkmark icon"></i>
                  Dashboard overview
                </div>
                <div class="item">
                  <i class="checkmark icon"></i>
                  Unlimited teams
                </div>
                <div class="item">
                  <i class="checkmark icon"></i>
                  Cloud storage
                </div>
                <div class="item">
                  <i class="checkmark icon"></i>
                  Advance all-in-one search
                </div>
                <div class="item">
                  <i class="checkmark icon"></i>
                  Task board
                </div>
              </div>
              <%= link_to('http://app.seam.fun/signup') do %>
                <button class="ui button" id="cta-btn">
                  Create Free Account
                </button>
              <% end %>
            </div>
          </div>
        </div>
        <div class='ui center aligned column'>
          <div class='ui raised segments'>
            <div class="ui very padded center aligned segment" id='top'>
              <h3 class='ui center aligned header'>$9.99</h3>
              <p>per user/ month</p>
            </div>
            <div class='ui padded center aligned segment' id='bottom'>
              <div class="ui list">
                <div class="item">
                  <i class="checkmark icon"></i>
                  Seam file editing
                </div>
                <div class="item">
                  <i class="checkmark icon"></i>
                  Individual/Group messaging
                </div>
                <div class="item">
                  <i class="checkmark icon"></i>
                  Individual/Group calling
                </div>
                <div class="item">
                  <i class="checkmark icon"></i>
                  Dashboard overview
                </div>
                <div class="item">
                  <i class="checkmark icon"></i>
                  Unlimited teams
                </div>
                <div class="item">
                  <i class="checkmark icon"></i>
                  Cloud storage
                </div>
                <div class="item">
                  <i class="checkmark icon"></i>
                  Advance all-in-one search
                </div>
                <div class="item">
                  <i class="checkmark icon"></i>
                  Task board
                </div>
              </div>
              <button class="ui button" id="cta-btn">
                Upgrade now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<section id='p-2'>
  <h1 class='ui center aligned header'>
    See how Seam stacks up vs. competition.
  </h1>
  <div class='ui two column very relaxed stackable center aligned grid container'>
    <div class='column' id='align-me'>
      <div class="ui list">
        <div class="item">
          <%= image_tag('seam-logo.png', class:'ui middle aligned tiny image')%>
          <div class="content">
            <span class="header">Seam</span>
            <div class="description">$9.99/month per user</div>
          </div>
        </div>
        <div class="item">
          <i class="checkmark icon"></i>
          Dashboard overview
        </div>
        <div class="item">
          <i class="checkmark icon"></i>
          Messages
        </div>
        <div class="item">
          <i class="checkmark icon"></i>
          Realtime chat
        </div>
        <div class="item">
          <i class="checkmark icon"></i>
          To-do lists
        </div>
        <div class="item">
          <i class="checkmark icon"></i>
          File storage
        </div>
        <div class="item">
          <i class="checkmark icon"></i>
          File creation
        </div>
        <div class="item">
          <i class="checkmark icon"></i>
          System wide search
        </div>
      </div>
    </div>
    <div class='ui vertical divider'>vs</div>
    <div class='center aligned column'>
      <div class="ui list">
        <div class="item">
          <%= image_tag('slack.png', class:'ui middle aligned tiny image')%>
          <div class="content">
            <span class="header">Slack: realtime chat</span>
            <div class="description">$6.67/month per user</div>
          </div>
        </div>
        <div class="item">
          <%= image_tag('dropbox.png', class:'ui middle aligned tiny image')%>
          <div class="content">
            <span class="header">Dropbox: file storage</span>
            <div class="description">$12.50/month per user</div>
          </div>
        </div>
        <div class="item">
          <%= image_tag('google-drive.png', class:'ui middle aligned tiny image')%>
          <div class="content">
            <span class="header">Gsuite: docs, calendar</span>
            <div class="description">$5.00/month per user</div>
          </div>
        </div>
        <div class="item">
          <%= image_tag('microsoft.png', class:'ui middle aligned tiny image')%>
          <div class="content">
            <span class="header">Microsoft 365</span>
            <div class="description">$12.50/month per user</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id='p-3'>
  <h1 class='ui center aligned header'>Frequently asked questions</h1>
  <div class='ui two column stackable grid container'>
    <div class='center aligned row'>
      <div class='column'>
        <h3 class="ui header">
          Can I try Seam for free?
        </h3>
        <p>You bet! We have a free 30 day trial,
          and you don’t need to provide a credit card when signing up.
        </p>
      </div>
      <div class='column'>
        <h3 class="ui header">
          Do you charge extra for anything?
        </h3>
        <p>Absolutely not! With Seam there are no setup fees,
          cancellation fees, nor mystifying hidden fees.
        </p>
      </div>
      <div class='column'>
        <h3 class="ui header">
          Can I cancel at any time?
        </h3>
        <p>Yes, but we hate to see you go! You can cancel at any time,
          we charge you annually or monthly. Get in touch with us and we’ll
          cancel your subscription at the beginning of the next billing period.
        </p>
      </div>
      <div class='column'>
        <h3 class="ui header">
          Can I pay a year in advance?
        </h3>
        <p>Yes! In fact, each user will receive 12% off
          the monthly subscription rate when you commit to a year of service with a valid credit card.
          Just choose annual billing as an option after selecting your plan above.
        </p>
      </div>
      <div class='column'>
        <h3 class="ui header">
          Any other questions?
        </h3>
        <p>Let us help! We’re here to answer any and all questions.
          Get in touch with us via email at support@seam.fun.
        </p>
      </div>
    </div>
  </div>
</section>
<%= render 'pages/cta' %>
