<div class="ui secondary top fixed menu" id='cast'>
  <div class='item'>
    <%= link_to '/' do %>
      <%= image_tag('Final-Logo.svg', class: 'logo') %>
    <% end %>
  </div>
  <div class="right menu" id='computer-only'>
    <%= link_to '/features', {class: 'ui item'} do %>
      Features
    <% end %>
    <%= link_to '/pricing', {class: 'ui item'} do %>
      Pricing
    <% end %>
    <%= link_to '/about-us', {class: 'ui item'} do %>
      About Us
    <% end %>
    <div class="item">
      <button class="ui button" id="small-cta">Sign In</button>
    </div>
  </div>
  <div class='right menu' id='mobile-only'>
    <div class='item' id='sidebar-toggle'>
      <i class='sidebar big icon'></i>
    </div>
  </div>
</div>
