<div class="ui secondary menu">
  <div class='item'>
    <%= link_to '/' do %>
      <%= image_tag('Final-Logo.svg', class: 'logo') %>
    <% end %>
  </div>
  <div class="right menu">
    <%= link_to '/features', {class: 'ui item'} do %>
      Features
    <% end %>
    <%= link_to '/pricing', {class: 'ui item'} do %>
      Pricing
    <% end %>
    <%= link_to '/customers', {class: 'ui item'} do %>
      Customers
    <% end %>
    <%= link_to '/user_stories', {class: 'ui item'} do %>
      User Stories
    <% end %>
    <%= link_to '/contact', {class: 'ui item'} do %>
      Contact
    <% end %>
    <div class="item">
      <div class="ui primary button">Sign In</div>
    </div>
  </div>
</div>
