<!DOCTYPE html>
<html>
  <head>
    <title>Seam: Collaborate together, collaborate seamlessly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='ui sidebar right vertical menu'>
      <%= link_to '/', {class: 'ui item'} do %>
        Home
      <% end %>
      <%= link_to '/pricing', {class: 'ui item'} do %>
        Pricing
      <% end %>
      <%= link_to '/about', {class: 'ui item'} do %>
        About
      <% end %>
      <%= link_to('https://app.seam.fun/login', class:'ui item') do %>
        Sign In
      <% end %>
    </div>
    <div class='pusher'>
      <%= render 'layouts/nav' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
